---
layout: default
title: (some) Slides
sitemap:
    priority: 0.9
    changefreq: monthly
---

{% assign collection = site.talks | sort: "year" | reverse %}

<ul class="list-group">
  {% for talk in collection %}
        <li class="list-group-item">          
          <strong>{{ talk.title }}</strong>.
          {% if talk.venue %} {{ talk.venue }}. {% endif %}
          {% if talk.year %} {{ talk.year }}. {% endif %}
            {% if talk.slides %}
	          [<a href="{{ talk.slides }}">Slides</a>]
            {% endif %}            
        </li>
{% endfor %}
</ul>  
